modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5173
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 5174
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "git"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config --global user.name \"dyuliano\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config --global user.email \"dyuliano@gmail.com\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow]]
name = "git 2"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m \"Atualização do projeto Estudo Alego\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push origin main"
