modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5174

[workflows]
runButton = "run"

[[workflows.workflow]]
name = "md"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install react-markdown remark-gfm"

[[workflows.workflow]]
name = "fix"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm audit fix"

[[workflows.workflow]]
name = "limpe"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "rm -rf node_modules dist .vite"

[[workflows.workflow]]
name = "run"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend/"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install "

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "typo"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install @tailwindcss/typography"

[[workflows.workflow]]
name = "Mark"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install react-markdown"

[[workflows.workflow]]
name = "PDF"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install @react-pdf-viewer/core @react-pdf-viewer/default-layout pdfjs-dist"

[[workflows.workflow]]
name = "pdfview"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install @react-pdf-viewer/core @react-pdf-viewer/default-layout pdfjs-dist"

[[workflows.workflow]]
name = "pdfviewr"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install @react-pdf-viewer/core @react-pdf-viewer/default-layout"

[[workflows.workflow]]
name = "route"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install react-router-dom"

[[workflows.workflow]]
name = "desinstalar"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm uninstall react-pdf-viewer"

[[workflows.workflow]]
name = "install_pdf"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install @react-pdf-viewer/core @react-pdf-viewer/default-layout pdfjs-dist"

[[workflows.workflow]]
name = "router"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install react-router-dom"

[[workflows.workflow]]
name = "restart"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm audit fix --force"

[[workflows.workflow]]
name = "csstailwind"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install tailwindcss@latest postcss@latest autoprefixer@latest"

[[workflows.workflow]]
name = "post"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install @tailwindcss/postcss"

[[workflows.workflow]]
name = "pdf inst"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install --save-dev @types/pdfjs-dist"

[[workflows.workflow]]
name = "pdf"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install pdfjs-dist"

[[workflows.workflow]]
name = "fixpdf"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm i --save-dev @types/pdfjs-dist"

[[workflows.workflow]]
name = "vs react"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm ls react"

[[workflows.workflow]]
name = "install so uma versao react"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install react@18.2.0 react-dom@18.2.0"
