modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5173
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5174
externalPort = 80
exposeLocalhost = true

[workflows]
runButton = "run"

[[workflows.workflow]]
name = "md"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install react-markdown remark-gfm"

[[workflows.workflow]]
name = "fix"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm audit fix"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm audit fix --force"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm audit "

[[workflows.workflow]]
name = "limpe"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "rm -rf node_modules package-lock.json npm install npm run dev"

[[workflows.workflow]]
name = "run"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install "

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "typo"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install @tailwindcss/typography"

[[workflows.workflow]]
name = "Mark"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install react-markdown"

[[workflows.workflow]]
name = "PDF"
mode = "sequential"
author = 23319309

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install @react-pdf-viewer/core @react-pdf-viewer/default-layout pdfjs-dist"
